{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" style="color:aqua;" href="{% url 'home' %}">SR</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-3 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'about'%}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'projects' %}">Projects</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'resume' %}">Resume</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                        </li>

                        <li class="nav-item">
                            <a class="bi bi-code-slash p-2 g-col-6" href="#" target=”_blank”></a>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>

    </header>
    <main>
        {% block content %}
        {% endblock content%}
    </main>


    <footer class="footer mt-auto py-1 bg-light">
        <hr>
        <div class="container-fluid text-center ">
            <div class="row">
                <div class="col">
                    <span>&copy; 2023</span>
                </div>
                <div class="col">
                    Created by Sourav Roy
                </div>
                <div class=" grid gap-3 col">
                    <a class="bi bi-github p-2 g-col-6" href="https://github.com/roy-sourav23/" target=”_blank”></a>
                    <a class="bi bi-linkedin p-2 g-col-6" href="https://www.linkedin.com/in/sourav-r-470a9318b/"
                        target=”_blank”>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

</body>

</html>